.whiteBg {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.fromIntermediate {
  margin: 0;
}
.introTitle {
  position: relative;
  line-height: 60px;
  font-weight: 800;
}
.title {
  width: 969px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.imageIcon {
  position: absolute;
  margin: 0 !important;
  bottom: 117px;
  left: calc(50% + 371px);
  width: 186px;
  height: 173px;
  object-fit: cover;
  z-index: 1;
}
.video {
  position: relative;
  border-radius: 17.33px;
  background-color: var(--color-white);
  width: 970px;
  height: 468px;
  z-index: 2;
}
.about,
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  background-color: var(--color-whitesmoke);
  padding: var(--padding-53xl) var(--padding-5xl) var(--padding-121xl);
  position: relative;
  gap: var(--gap-21xl);
}
.about {
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 744px) {
  .introTitle {
    font-size: var(--font-size-15xl);
    line-height: 44px;
  }
  .frame {
    gap: var(--gap-11xl);
    padding-top: var(--padding-53xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1024px) {
  .introTitle {
    text-align: center;
  }
  .title {
    align-self: stretch;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .video {
    flex: 1;
    height: auto;
    width: 100%;
  }
  .frame {
    padding-top: var(--padding-53xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
}
