.stepUp {
  margin: 0;
}
.title {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 800;
}
.paragraph,
.text,
.title {
  align-self: stretch;
}
.paragraph {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.requestALesson {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.actionCallButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-14xl);
  background-color: var(--color-cornflowerblue);
  border-radius: var(--br-26xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actionCallButton:hover {
  background-color: var(--color-steelblue);
}
.actionCall,
.actionCall1 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.actionCall1 {
  display: flex;
  padding: 0 var(--padding-5xl) var(--padding-53xl);
  gap: var(--gap-11xl);
}
.actionCall {
  display: none;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 430px) {
  .requestALesson {
    font-size: var(--font-size-base);
  }
  .actionCall {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .paragraph,
  .title {
    text-align: center;
  }
}
