.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure it's on top of everything */
  }
  
  .modalContainer {
    position: fixed;
    bottom: calc(var(--padding-5xl) + 50px + var(--padding-5xl)); /* Space above the contact icon */
    right: var(--padding-5xl);
    width: 375px;
    height: 600px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
    overflow: hidden; /* Ensure header and content stay together */
  }
  
  .modalHeader {
    height: 70px;
    width: 100%;
    background-color: var(--color-cornflowerblue);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .modalHeaderText {
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; /* Consistent spacing */
  }
  
  .circleWrapper {
    position: relative;
    width: 120px; /* Adjusted to fit both circles with overlap */
    height: 70px; /* Align with the height of a single circle */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profileCircle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--color-cornflowerblue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image stays inside the circle */
    position: absolute;
  }
  
  .firstCircle {
    z-index: 2; /* First circle is on top */
    left: 0; /* Start at the leftmost point */
  }
  
  .secondCircle {
    z-index: 1; /* Second circle is underneath */
    left: 40%;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .replyText {
    margin-top: 10px; /* Consistent spacing */
    margin-bottom: 0px;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
  }
  
  .helperText {
    margin-top: 10px; /* Consistent spacing */
    font-size: var(--font-size-sm-3);
    font-weight: 500;
    font-family: var(--font-inter);
    color: #959191; /* Lighter grey */
    text-align: center;
  }
  
  /* Optional fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  .form {
    padding: 0 var(--padding-5xl);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: var(--padding-5xl); /* Adds space between the form and the bottom */
  }
  
  .inputField {
    width: 100%;
  }
  
  .error {
    border-color: var(--color-red);
  }
  
