.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modalContainer {
  position: fixed;
  bottom: calc(var(--padding-5xl) + 50px + var(--padding-5xl));
  right: var(--padding-5xl);
  width: 375px;
  height: 600px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  height: 70px;
  width: 100%;
  background-color: var(--color-cornflowerblue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Allows absolute positioning for the close icon */
}

.modalHeaderText {
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
}

.closeIcon {
  position: absolute;
  top: 50%;
  right: var(--padding-5xl);
  transform: translateY(-50%);
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.closeIcon:hover {
  opacity: 0.8; /* Optional: adds a hover effect */
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures maximum gap between content and formButtonContainer */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.circleWrapper {
  position: relative;
  width: 120px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--color-cornflowerblue);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

.firstCircle {
  z-index: 2;
  left: 0;
}

.secondCircle {
  z-index: 1;
  left: 40%;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.replyText {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}

.helperText {
  margin-top: 10px;
  font-size: var(--font-size-sm-3);
  font-weight: 500;
  font-family: var(--font-inter);
  color: #959191;
  text-align: center;
}

.formButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 var(--padding-5xl);
}

.form {
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding-5xl);
}

.sendButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) 0;
  background-color: var(--color-cornflowerblue);
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendButton:hover {
  background-color: var(--color-steelblue);
}

.submitRequest {
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 430px) {
  .modalContainer {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .modalHeader {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
