.stepUp {
  margin: 0;
}
.title {
  flex: 1;
  position: relative;
  font-weight: 800;
}
.paragraph,
.text,
.title {
  align-self: stretch;
}
.paragraph {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 34px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.requestALesson {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.actionCallButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-14xl);
  background-color: var(--color-cornflowerblue);
  border-radius: var(--br-26xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actionCallButton:hover {
  background-color: var(--color-steelblue);
}
.actionCall {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.imageIcon {
  position: relative;
  width: 617px;
  height: 847px;
  object-fit: cover;
}
.heroSection,
.heroSection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heroSection1 {
  width: 1170px;
  justify-content: space-between;
}
.heroSection {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 744px) {
  .title {
    font-size: var(--font-size-29xl);
  }
  .paragraph {
    font-size: var(--font-size-lg);
    line-height: 28px;
  }
  .actionCall {
    flex: unset;
    align-self: stretch;
  }
  .heroSection1 {
    flex: 1;
    flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  .title {
    font-size: var(--font-size-15xl);
  }
  .requestALesson {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 1024px) {
  .paragraph,
  .title {
    text-align: center;
  }
  .actionCall {
    align-items: center;
    justify-content: flex-start;
    padding-top: var(--padding-61xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .imageIcon {
    width: 400px;
    flex: 1;
  }
  .heroSection1 {
    align-self: stretch;
    width: auto;
  }
  .heroSection,
  .heroSection1 {
    flex-direction: column;
  }
}
