.logoIcon {
  position: relative;
  width: 162px;
  height: 30.4px;
}
.about,
.about:hover,
.logoIcon,
.logoIcon:hover {
  cursor: pointer;
}
.about {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.about:hover {
  color: var(--color-dimgray);
}
.menu,
.text {
  flex-shrink: 0;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.text {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 117px;
  height: 17px;
}
.button,
.hamburgerMenuChild {
  background-color: var(--color-cornflowerblue);
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-14xl);
  border-radius: var(--br-11xl);
  width: 174px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button:hover {
  background-color: var(--color-steelblue);
}
.hamburgerMenuChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.groupChild,
.groupInner,
.groupItem {
  position: absolute;
  top: -0.9px;
  left: -0.9px;
  border-top: 1.8px solid var(--color-white);
  box-sizing: border-box;
  width: 29px;
  height: 1.8px;
}
.groupInner,
.groupItem {
  top: 6.3px;
}
.groupInner {
  top: 13.5px;
}
.hamburgerMenu,
.lineParent {
  position: absolute;
  top: 16.4px;
  left: 9px;
  width: 27.2px;
  height: 14.4px;
}
.hamburgerMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  overflow: hidden;
  display: none;
}
.hamburgerMenuWrapper {
  position: relative;
  width: 45px;
  height: 45px;
  display: none;
}
.buttons {
  height: 55px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.buttons,
.navBar,
.navBar1,
.navBar2 {
  display: flex;
  flex-direction: row;
}
.navBar2 {
  flex-shrink: 0;
  align-items: baseline;
  justify-content: center;
  gap: var(--gap-17xl);
}
.navBar,
.navBar1 {
  align-items: center;
}
.navBar1 {
  width: 1170px;
  flex-shrink: 0;
  justify-content: space-between;
}
.navBar {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  justify-content: center;
  padding: var(--padding-33xl) var(--padding-5xl) var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1024px) {
  .button,
  .menu {
    display: none;
  }
  .hamburgerMenuChild:hover {
    background-color: var(--color-steelblue);
  }
  .hamburgerMenu,
  .hamburgerMenuWrapper {
    display: flex;
  }
  .navBar {
    gap: var(--gap-0);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 744px) {
  .button {
    display: none;
  }
}
