.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.95); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-33xl) var(--padding-5xl) var(--padding-5xl);
  padding-top: 1.8rem; /* Additional top padding */
  padding-bottom: 1.8rem; /* Additional bottom padding */
  z-index: 1000; /* High enough to stay on top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional for visibility */
  backdrop-filter: blur(5px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.navBar1 {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar2 {
  display: flex;
  align-items: center;
  gap: var(--gap-17xl);
}

.logoIcon {
  width: 162px;
  height: auto;
  cursor: pointer;
}

.about,
.about:hover,
.logoIcon,
.logoIcon:hover {
  cursor: pointer;
}

.about {
  text-decoration: none;
  color: inherit;
}

.about:hover {
  color: var(--color-dimgray);
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--gap-5xl);
}

.text {
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}

.button,
.hamburgerMenuChild {
  background-color: var(--color-cornflowerblue);
}

.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-14xl);
  border-radius: var(--br-11xl);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--color-steelblue);
}

.hamburgerMenuChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.hamburgerMenu,
.hamburgerMenuItem {
  position: absolute;
  top: 16.4px;
  left: 9px;
  width: 27.2px;
  height: 14.4px;
}

.hamburgerMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  overflow: hidden;
  display: none;
}

.hamburgerMenuWrapper {
  position: relative;
  width: 45px;
  height: 45px;
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}

@media screen and (max-width: 744px) {
  .button {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .button,
  .menu {
    display: none;
  }
  .hamburgerMenuChild:hover {
    background-color: var(--color-steelblue);
  }
  .hamburgerMenu,
  .hamburgerMenuWrapper {
    display: flex;
  }
  .navBar {
    gap: var(--gap-0);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
