.container {
  position: relative;
  border-radius: var(--br-3xs);
  border: 2px solid var(--system-grey-sg-l-1);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.onOfffalseDisabledtrue {
  border-radius: var(--br-3xs);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
