.precisionAndAwareness {
  margin: 0;
}
.introTitle {
  flex: 1;
  position: relative;
  font-weight: 800;
}
.title {
  width: 436px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 300;
}
.paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
}
.text {
  width: 438px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  z-index: 0;
}
.imageIcon {
  position: absolute;
  margin: 0 !important;
  bottom: 92px;
  left: calc(50% + 375px);
  width: 186px;
  height: 173px;
  object-fit: cover;
  z-index: 1;
}
.imageIcon1 {
  position: relative;
  border-radius: var(--br-xl);
  width: 498px;
  height: 780px;
  object-fit: cover;
  z-index: 2;
}
.technique {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-101xl) var(--padding-5xl);
  position: relative;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 744px) {
  .introTitle {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .text1 {
    font-size: var(--font-size-base);
    line-height: 28px;
  }
  .technique,
  .text {
    gap: var(--gap-11xl);
  }
  .technique {
    flex-direction: column;
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-81xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 430px) {
  .imageIcon1 {
    align-self: stretch;
    width: auto;
    flex: 1;
    max-height: 376px;
  }
}
@media screen and (max-width: 1024px) {
  .introTitle {
    text-align: center;
  }
  .title {
    align-items: center;
    justify-content: center;
  }
  .imageIcon1,
  .text,
  .title {
    align-self: stretch;
    width: auto;
  }
  .imageIcon1 {
    height: 780px;
  }
  .technique {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: var(--padding-61xl);
    box-sizing: border-box;
  }
}
