.logoIcon {
  position: relative;
  width: 162px;
  height: 30.4px;
  cursor: pointer;
}
.logo {
  width: 753px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.title {
  position: relative;
  line-height: 16px;
}
.iconyoutube {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icon {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footerText {
  position: relative;
  line-height: 140%;
}
.footerText:hover {
  color: var(--color-dimgray);
}
.youtube {
  text-decoration: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: inherit;
}
.instagram:hover,
.terms:hover,
.youtube:hover {
  cursor: pointer;
}
.iconinstagram {
  position: relative;
  width: 21px;
  height: 21px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.instagram {
  text-decoration: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  color: inherit;
}
.iconfacebook {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.socials,
.socials1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.socials1 {
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.socials {
  padding: var(--padding-5xl);
  gap: var(--gap-xs);
}
.stuttgart {
  margin: 0;
}
.stuttgartGermany {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 16px;
  color: var(--color-white);
}
.location {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-base);
}
.contactvioleducom {
  position: relative;
  line-height: 16px;
  display: inline-block;
  width: 146px;
}
.list {
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.contactUs,
.infoBottomRight,
.list {
  display: flex;
  align-items: flex-start;
}
.contactUs {
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-base);
  color: var(--color-white);
}
.infoBottomRight {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info {
  width: 754px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.copyright,
.terms {
  position: relative;
  line-height: 140%;
}
.terms {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.terms:hover {
  color: var(--color-dimgray);
}
.termsAndPrivacy {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: center;
}
.bottomInfo,
.footer {
  align-self: stretch;
  display: flex;
  gap: var(--gap-2xl);
}
.bottomInfo {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.footer {
  background-color: var(--color-gray-200);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-53xl) var(--padding-5xl) var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1024px) {
  .info {
    align-self: stretch;
    width: auto;
    gap: var(--gap-29xl);
  }
}
@media screen and (max-width: 430px) {
  .socials {
    align-items: center;
    justify-content: flex-start;
  }
  .stuttgartGermany {
    text-align: center;
  }
  .contactUs,
  .infoBottomRight,
  .location {
    align-items: center;
    justify-content: flex-start;
  }
  .infoBottomRight {
    flex-direction: column;
  }
}
