.freeResources {
    position: relative;
    background-color: var(--color-whitesmoke);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 var(--padding-53xl);
    gap: var(--gap-41xl);
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  @media (min-width: 600px) {
    .cardsContainer {
      gap: 30px;
    }
  }
  
  @media (min-width: 900px) {
    .cardsContainer {
      max-width: 1200px;
    }
  }